* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
}

.steps {
    width: 600px;
    background-color: #f7f7f7;
    border-radius: 7px;
    padding: 25px 100px;
    margin: 100px auto;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: #2905f8;
    color: #ffffff;
}

h3 {
    margin: 0;
    text-transform: uppercase;
}

.close {
    /*position: absolute;*/
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: inherit;
}

.close:hover {
    color: #7950f2;
}